<app-navbarfull></app-navbarfull>
<div class="container">
  <br>
  <br>

  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
      <h1>Terms & Conditions</h1>
      <br>
      <div class="card">
        <div class="card-body" style="height: 415px; overflow: auto">
          <blockquote class="blockquote mb-0">
            <br>
            <h3>Acceptance of terms</h3>
            <p>By downloading, installing, or using the education application, users accept and agree to be bound by the
              terms and conditions set forth herein.</p>
            <br>

            <h3>License grant</h3>
            <p>The education application is licensed, not sold, to users for their personal, non-commercial use. Users
              may not distribute or sublicense the application, or modify, reverse-engineer, or create derivative works
              based on the application.</p>
            <br>
            <h3>Privacy policy</h3>
            <p>The education application collects and uses personal information in accordance with its privacy policy,
              which users are required to review and accept prior to using the application.</p>
            <br>
            <h3>User-generated content</h3>
            <p>Users may be able to submit or post content on the education application, such as comments, feedback, or
              assignments. Users grant the application owner a non-exclusive, royalty-free, perpetual, and irrevocable
              license to use, display, reproduce, distribute, and modify such content for any purpose.</p>

            <br>
            <h3>Intellectual property</h3>
            <p>The education application and all of its contents, including but not limited to text, graphics, logos,
              images, and software, are the property of the application owner and are protected by intellectual property
              laws. Users may not use, copy, or reproduce any content from the application without the express written
              permission of the application owner.</p></blockquote>
        </div>
      </div>

    </div>
    <div class="col-md-2"></div>
  </div>
</div>
<app-footer></app-footer>

<p>terms works!</p>
