<!-- As a heading -->
<nav class="navbar bg-light">
  <div class="container-fluid">

    <div class="col-md-1"></div>

    <div class="col-md-4">

      <span class="navbar-brand mb-0 h1"><b>Want to teach ?</b> start your profession as a teacher</span>

    </div>

    <div class="col-md-4"></div>
    <button type="button" class="btn1">Start teaching</button>
    <button type="button" class="btn1">Dismiss</button>

    <div class="col-md-1"></div>

  </div>
</nav>


<!--<div class="container-fluid">-->

<!--</div>-->
