.nav-link{
  color: #65647C;
}

.nav-link:hover{
  background: #E90064;
  color: white;
  border-radius: 2px;
}
.carousel-item{
  width: 100%;
  height: 100%;
}

.caTitle{
  font-size: 100px;
  font-family: "Virgi ella";
}

.caPara{
  font-size: 15px;
}

.carousel-caption{
  position: absolute;bottom: 20%;
  left: 40%;
  line-height: 120px;
}


















