
<app-navbar></app-navbar>
<div class="container-fluid startupBody">

  <div class="row">

    <div class="col-md-2"></div>
    <div class=" col-md-4">
      <img src="assets/img/pic4.png" class="pic2" alt="pic">
    </div>
    <div class="col-md-4">
      <p class="text1">
        Learn With us
        Find your desired
        Knowledge through us
      </p>

      <p class="text2">Teach and learn new way, in here
        you will get 1000+ courses and job vacancies
        related in every kind of subject.</p>

    </div>

    <div class="col-md-1"></div>
    <br>
  </div>

  <br>
  <div class="container">
    <div class="row">
      <div class="col text-center">
        <button routerLink='/signin' type="button" class="btnStart text-center ">Get started</button>
      </div>
    </div>


  </div>

  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
<app-footer-light></app-footer-light>
</div>





