<app-navbarfull></app-navbarfull>
<div class="container">
  <br>
  <br>

  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
      <h1>Privacy Policy</h1>
      <br>
      <div class="card">
        <div class="card-body" style="height: 415px; overflow: auto">
          <blockquote class="blockquote mb-0">
            <p>Privacy is of utmost importance when it comes to educational applications. As a user, you entrust the
              application with personal information that should be kept confidential. As such,
              we take our privacy policy very seriously and we are committed to ensuring that your personal information
              is protected.</p>
            <br>
            <h3>Information we collect:</h3>
            <p>We collect personal information from you when you sign up for our educational application. This
              information includes your name, email address, phone number, and school information.
              We may also collect other information related to your usage of our application, such as your device type,
              browser type, and IP address.</p>
            <br>

            <h3>Use of your information:</h3>
            <p>We use your personal information to provide you with the best possible educational experience. This
              includes sending you updates about the application, providing you with personalized content, and analyzing
              usage data to improve our service.

              We do not share your personal information with third parties unless it is required by law or necessary to
              provide you with the services you have requested.</p>
            <br>
            <h3>Security:</h3>
            <p>We take all necessary measures to ensure that your personal information is protected. We use
              industry-standard security protocols to safeguard your data and prevent unauthorized access, use, or
              disclosure.</p>
            <br>
            <h3>Changes to the privacy policy:</h3>
            <p>We reserve the right to make changes to our privacy policy from time to time. We will notify you of any
              changes via email or through the application itself.</p>

            <br>
            <h3>Contact us:</h3>
            <p>If you have any questions or concerns about our privacy policy or the way we handle your personal
              information, please do not hesitate to contact us at [insert contact information].</p>
          </blockquote>
        </div>
      </div>

    </div>
    <div class="col-md-2"></div>
  </div>
</div>
<app-footer></app-footer>

